UniquelistfromStringofemails_20190813153755/Microsoft.Flow/flows/769715aa-4661-4007-a67c-bc487a5b1dcb/definition.json
{"name":"8baa69ea-d212-425d-9585-0880746f1196","id":"/providers/Microsoft.Flow/flows/8baa69ea-d212-425d-9585-0880746f1196","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Unqiue list from String","definition":{"metadata":{"workflowEntityId":null,"creator":{"id":"51a6a8e7-873c-49cf-8130-f07966aa89cd","type":"User","tenantId":"d27657b2-f96c-475e-a9bb-ffb1dbe287c8"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2019-08-13T15:36:58.0327603Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Compose":{"runAfter":{},"type":"Compose","inputs":"abd@g.com;def@g.com;abd@g.com;lmn@g.com;xyz@g.com;"},"Compose_2":{"runAfter":{"Compose":["Succeeded"]},"type":"Compose","inputs":"@split(outputs('Compose'),';')"},"Initialize_variable":{"runAfter":{"Compose_2":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varEmails","type":"Array","value":[]}]}},"Apply_to_each":{"foreach":"@outputs('Compose_2')","actions":{"Condition":{"actions":{"Append_to_array_variable":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"varEmails","value":"@item()"}}},"runAfter":{},"expression":{"equals":["@contains(variables('varEmails'),item())","@false"]},"type":"If"}},"runAfter":{"Initialize_variable":["Succeeded"]},"type":"Foreach"},"Compose_3":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"Compose","inputs":"@join(variables('varEmails'),';')"}}},"connectionReferences":{},"flowFailureAlertSubscribed":false}}